html, body {
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding: 1rem;

    background-color: var(--background-color);

    height: 100vh;

    box-sizing: border-box;

    overflow: scroll;
}

/* Control all colors */
body {
    --background-color: #C3EB78;
    --text-color: white;

    --panel-color: #306B34;
    --panel-text-color: white;
    --panel-color-hover: brown;
    --panel-text-color-hover: black;

    --button-background-color: coral;
    --button-text-color: white;
}

body.dark {
    --background-color: #373D20;
    --text-color: black;

    --panel-color: plum;
    --panel-text-color: black;
    --panel-color-hover: brown;
    --panel-text-color-hover: black;

    --button-background-color: coral;
    --button-text-color: black;
}

/* Control all forms*/
.form {
    padding: 0;

    grid-column: span 12;

    display: flex;
    justify-content: space-between;
}

.input {
    width: 85%;

    padding: 0.3rem;

    border-radius: 3px;
    border: 1px solid lightgray;
}

.input::placeholder {
    color: lightgray;
}

.submit-button {
    border: none;
    border-radius: 3px;

    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.submit-button:hover {
    cursor: pointer;
}

.error-message {
    grid-column: 4 / 10;

    margin: 0;

    font-size: 0.9rem;
    color: rgba(255, 0, 0, 0.468);
}



[class^="button-"] {
    background: none;
    border: none;

    color: var(--button-text-color);
}

[class^="button-"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}