.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo {
    font-size:3rem;
    margin: 2rem;
    color: var(--panel-color)
}

.login-register-switch {
    margin-bottom: 2rem;
}



.form-wrapper { 
    background-color:white;

    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgb(175, 175, 175);

    width: 20rem;

    padding: 3rem;
}

.switch-container {
    display: flex;
    justify-content:end
}